html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  font: inherit;
}

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
caption,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  border: 0;
}

input, textarea {
  margin: 0;
}

article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}



/* SHARED */

body {
  font-size: 18px;
  font-family: "Avenir Next", sans-serif;
  color: #1d1d26;
}

b {
  font-weight: 600;
}

i {
  font-style: italic;
}

a {
  text-decoration: none;
  outline: none;
}

.t-hidden {
  position: absolute !important;
  clip: rect(1px 1px 1px 1px); /* IE6, IE7 */
  clip: rect(1px, 1px, 1px, 1px);
}

.header a {
  text-decoration: none;
  color: #ffffff;
}

.logo {
  display: block;
  line-height: 0;
  fill: #ffffff;
}

.nav ul ul {
  margin-bottom: 5px;
}

.nav__link,
.nav__sublink {
  transition-duration: .25s;
  transition-property: color;
}
.nav__link {
  padding: 7px 48px;
  display: block;
  position: relative;
  font-weight: 500;
}
.nav__link:focus,
.nav__link:hover,
.nav__link.active,
.nav__sublink:focus,
.nav__sublink:hover {
  color: #790606;
}
.nav__link.active:before {
  content: "";
  width: 6px;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background-color: #790606;
}
.nav__sublink {
  padding: 2px 16px 4px 72px;
  display: block;
  font-weight: 300;
}

.button {
  padding: 0 30px;
  display: inline-block;
  min-width: 220px;
  box-sizing: border-box;
  border-width: 3px;
  border-style: solid;
  font-size: inherit;
  font-family: inherit;
  font-weight: 600;
  text-align: center;
  text-transform: uppercase;
  text-decoration: none;
  cursor: pointer;
  transition-duration: .25s;
  transition-property: background-color, color;
}
@media (max-width: 899px) {
  .button {
    line-height: 46px;
  }
}
@media (min-width: 900px) {
  .button {
    line-height: 60px;
  }
}

@media (min-width: 900px) and (max-height: 859px) {
  .header {
    position: absolute;
  }
}
@media (min-width: 900px) and  (min-height: 860px) {
  .header {
    position: fixed;
  }
}

.t-link {
  color: #e85d5d;
  transition-duration: .25s;
  transition-property: color;
}
.t-link:focus,
.t-link:hover {
  color: #790606;
}

.dockyard {
  font-size: 14px;
  text-decoration: none;
  color: #ffffff;
  transition-duration: .25s;
  transition-property: color;
}
.dockyard svg {
  fill: #ffffff;
  transition-duration: .25s;
  transition-property: fill;
}
.dockyard:hover,
.dockyard:focus {
  color: #790606;
}
.dockyard:hover svg,
.dockyard:focus svg {
  fill: #790606;
}

.dockyard svg:first-of-type {
  margin-right: 4px;
  margin-left: 4px;
  position: relative;
  top: 8px;
  height: 24px;
  width: 24px;
}
.dockyard svg:last-of-type {
  position: relative;
  top: 1px;
  height: 10px;
  width: 75px;
}

.method,
.outcome {
  margin-bottom: 66px;
  width: 100%;
  line-height: 1.66;
  box-sizing: border-box;
  border-width: 4px;
  border-style: solid;
  z-index: -1;
}
.method {
  position: relative;
  border-color: rgba(216, 216, 216, .3);
}
.outcome {
  border-color: #e85d5d;
}
.method svg {
  position: absolute;
  fill: #767676;
  background-color: #ffffff;
}
.method dt,
.outcome dt {
  font-weight: 500;
}
.method dt {
  margin-bottom: 16px;
  font-size: 24px;
}
.outcome dt {
  margin-bottom: 30px;
  font-size: 28px;
  color: #e85d5d;
}
.outcome dd:not(:last-of-type),
.method dd:not(:last-of-type) {
  margin-bottom: 16px;
}
@media (max-width: 1099px) {
  p + .method,
  p + .outcome {
    margin-top: 40px;
  }
  .method {
    margin-top: 20px;
    padding: 42px 20px;
    z-index: -1;
  }
  .outcome {
    padding: 32px;
  }
  .outcome dd,
  .method dd {
    font-size: 18px;
  }
  .method svg {
    width: 40px;
    height: 40px;
    top: -22px;
    left: 50%;
    fill: #767676;
    -webkit-transform: translateX(-50%);
    transform: translateX(-50%);
  }
  .method:before {
    content: "";
    position: absolute;
    width: 80px;
    height: 40px;
    top: -22px;
    left: 50%;
    background-color: #ffffff;
    -webkit-transform: translateX(-50%);
    transform: translateX(-50%);
  }
}
@media (min-width: 1100px) {
  p + .method,
  p + .outcome {
    margin-top: 66px;
  }
  .method {
    padding: 64px 88px;
  }
  .outcome {
    padding: 60px 66px 66px 66px;
  }
  .outcome dd,
  .method dd {
    font-size: 20px;
  }
  .method svg {
    width: 60px;
    height: 60px;
    top: 66px;
    left: -32px;
  }
  .method:before {
    content: "";
    position: absolute;
    width: 60px;
    height: 100px;
    top: 46px;
    left: -32px;
    background-color: #ffffff;
  }
}



/* INDEX */

.masthead {
  padding-bottom: 72px;
  background-image: url("images/pattern.svg");
  background-position: center;
  background-color: #fcfcfc;
}
@media (min-width: 900px) {
  .masthead {
    height: 100vh;
    min-height: 460px;
    max-height: 800px;
    box-sizing: border-box;
    position: relative;
  }
}
@media (min-width: 900px) and (max-height: 619px) {
  .l-masthead {
    padding-top: 60px;
  }
}
@media (min-width: 900px) and (min-height: 620px) {
  .l-masthead {
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%,-50%);
    transform: translate(-50%,-50%);
    width: calc(100% - 180px);
  }
}

.masthead .heading {
  text-transform: uppercase;
}
.home .masthead,
.home .about,
.purposes .heading {
  text-align: center;
}
.home .heading,
.masthead .button {
  color: #e85d5d;
}
.masthead .button {
  background-color: #ffffff;
}

.home .heading,
.home .subheading {
  margin-right: auto;
  margin-left: auto;
  padding-right: 30px;
  padding-left: 30px;
  max-width: 825px;
}
.home .heading {
  margin-right: auto;
  margin-left: auto;
  font-weight: 800;
  line-height: 1;
  letter-spacing: 2px;
}
.home .subheading {
  color: #767676;
}
@media (max-width: 899px) {
  .masthead .heading {
    margin-bottom: 30px;
    padding-top: 80px;
    font-size: 36px;
  }
  .home .subheading {
    margin-bottom: 58px;
    font-size: 20px;
  }
}
@media (min-width: 900px) {
  .masthead .heading {
    margin-bottom: 54px;
    font-size: 72px;
  }
  .home .subheading {
    margin-bottom: 92px;
    font-size: 32px;
  }
}

.masthead .button {
  border-color: #e85d5d;
}
.masthead .button:focus,
.masthead .button:hover {
  background-color: #e85d5d;
  color: #ffffff;
}

.about {
  fill: #e85d5d;
}
@media (max-width: 1239px) {
  .about {
    margin-top: 70px;
    margin-bottom: 100px;
  }
  .about svg {
    margin-bottom: 20px;
    height: 72px;
    width: 85px;
  }
}
@media (min-width: 1240px) {
  .about {
    margin-top: 90px;
    margin-bottom: 160px;
    float: left;
    width: 30%;
    background-size: 132px;
    line-height: 1.66;
  }
  .about:not(:last-child) {
    margin-right: 5%;
  }
  .about svg {
    margin-bottom: 18px;
    height: 86px;
    width: 102px;
  }
}
.about dt {
  font-size: 24px;
  font-weight: 500;
}
@media (max-width: 1159px) {
  .about dt {
    margin-bottom: 16px;
  }
}
.about dd {
  margin-right: auto;
  margin-left: auto;
  max-width: 300px;
  line-height: 1.66;
}
@media (min-width: 900px) {
  .about dd {
    margin-top: 15px;
    font-size: 22px;
  }
}
@media (max-width: 899px) {
  .purposes .heading {
    margin-bottom: 30px;
    font-size: 30px;
  }
}
@media (min-width: 900px) {
  .purposes .heading {
    margin-bottom: 90px;
    font-size: 48px;
  }
}



/* INTERIOR */

.t-summary {
  display: block;
  line-height: 1.66;
  color: #767676;
  font-style: italic;
}

.interior h2 {
  color: #767676;
  font-size: 42px;
}

.interior h3 {
  margin-bottom: 20px;
  font-weight: 500;
}
.interior p + h3 {
  padding-top: 20px;
}

.interior p {
  line-height: 1.66;
}
.interior p:not(:last-of-type) {
  margin-bottom: 20px;
}
@media (max-width: 899px) {
  .interior h2 {
    font-size: 28px;
  }
  .interior h3 {
    font-size: 22px;
  }
  .interior p {
    font-size: 18px;
  }
}
@media (min-width: 900px) {
  .interior h2 {
    font-size: 42px;
  }
  .interior h3 {
    font-size: 24px;
  }
  .interior p {
    font-size: 20px;
  }
}

.interior a {
  font-weight: 600;
}

.interior ul {
  margin-bottom: 42px;
  list-style-type: none;
}
.interior li {
  padding-left: 20px;
  text-indent: -2px;
}
.interior li:before {
  content: "•";
  display: inline-block;
  text-indent: -20px;
}

.interior figure {
  line-height: 0;
}
.interior figure + h3 {
  padding-top: 40px;
  clear: both;
}
@media (max-width: 899px) {
  .interior ul {
    font-size: 18px;
  }
  .interior li:not(:last-of-type) {
    padding-bottom: 12px;
  }
}
@media (min-width: 900px) {
  .interior ul {
    font-size: 20px;
  }
  .interior li:not(:last-of-type) {
    padding-bottom: 18px;
  }
}

.interior img {
  width: 100%;
}

.interior .button {
  border-color: #ee2658;
  color: #ee2658;
}
.interior .button:focus,
.interior .button:hover {
  background-color: #ee2658;
  color: #ffffff;
}

.section__anchor {
  display: block;
  visibility: hidden;
}

.section__overview {
  margin-bottom: 28px;
  line-height: 1.66;
}

.section__overview dt {
  margin-bottom: 12px;
  font-size: 20px;
  font-weight: 600;
}
.section__overview dd + dt {
  margin-top: 28px;
}
.section__overview dd + dd {
  margin-top: 14px;
}
@media (max-width: 899px) {
  .section__overview dd {
    font-size: 18px;
  }
}
@media (min-width: 900px) {
  .section__overview dd {
    font-size: 20px;
  }
}

.example {
  padding-left: 20px;
  display: inline-block;
  border-left: 4px solid #e85d5d;
  box-sizing: border-box;
  line-height: 1.66;
}
.interior .example {
  margin-top: 10px;
  margin-bottom: 40px;
}
.example dt {
  color: #e85d5d;
}
.purposes .example dt {
  padding-bottom: 12px;
  font-weight: 500;
}
.interior .example dt {
  padding-bottom: 18px;
  font-size: 14px;
  font-weight: 600;
}
.purposes .example dd {
  color: #767676;
}
.example dd:not(:last-of-type) {
  padding-bottom: 12px;
}
.example__quote {
  font-style: italic;
  color: #767676;
}
@media (max-width: 899px) {
  .purposes .example dt {
    font-size: 22px;
  }
  .example dd {
    font-size: 18px;
  }
}
@media (min-width: 900px) {
  .purposes .example dt {
    font-size: 24px;
  }
  .example dd {
    font-size: 20px;
  }
  .example__quote {
    font-size: 20px;
  }
}
@media (max-width: 1099px) {
  .example:not(:last-of-type) {
    margin-bottom: 60px;
  }
}

.l-pagination {
  margin-top: 88px;
}

.pagination {
  padding-top: 36px;
  padding-bottom: 45px;
  overflow: auto;
  border-top: 2px solid #f3f3f4;
}

.pagination a {
  font-weight: 600;
  text-decoration: none;
  color: #e85d5d;
  transition-duration: .25s;
  transition-property: color;
}

.pagination a:focus,
.pagination a:hover {
  color: #790606;
}

.pagination svg {
  margin-top: 4px;
  height: 16px;
  width: 16px;
  fill: #e85d5d;
  transition-duration: .25s;
  transition-property: fill;
}

.pagination a:focus svg,
.pagination a:hover svg {
  fill: #790606;
}

.pagination__link--previous {
  position: relative;
  top: -2px;
}

.pagination__link--previous svg {
  margin-right: 2px;
  position: relative;
  top: 2px;
}

.pagination__link--next {
  float: right;
}

.pagination__link--next svg {
  margin-left: 6px;
  float: right;
}
@media (max-width: 1199px) {
  .pagination__text--lg {
    display: none;
  }
}
@media (min-width: 1200px) {
  .pagination__text--sm {
    display: none;
  }
}

@media (max-width: 899px) {
  .l-wrap {
    margin-right: auto;
    margin-left: auto;
    width: 87.5%;
  }
  .header__mobile,
  .nav {
    background-color: #e85d5d;
  }
  .header__mobile {
    position: relative;
    overflow: auto;
    box-shadow: 0 2px 0 0 rgba(255,255,255,.2);
    z-index: 1;
  }
  .logo {
    padding: 15px 20px;
    float: left;
  }
  .logo svg {
    height: 30px;
    width: 30px;
  }
  .nav-link {
    padding: 0 20px; /* Need to set 0 because of default button styles */
    padding-right: 20px;
    padding-left: 20px;
    float: right;
    border: none;
    background-color: transparent;
    font-size: inherit;
    font-family: inherit;
    font-weight: 600;
    line-height: 60px;
    color: #ffffff;
    cursor: pointer;
    transition-duration: .25s;
    transition-color: color;
  }
  .nav-link:focus {
    outline: none;
  }
  .nav-link:hover,
  .nav-link:focus,
  .nav-link.nav-is-showing {
    color: #790606;
  }
  .nav {
    padding-top: 22px;
    padding-bottom: 22px;
    position: absolute;
    width: 100%;
    -webkit-transform: translateY(-100%);
    transform: translateY(-100%);
    transition-duration: .25s;
    transition-property: transform;
  }
  .nav.is-showing {
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
  .nav dt {
    position: absolute !important;
    clip: rect(1px 1px 1px 1px); /* IE6, IE7 */
    clip: rect(1px, 1px, 1px, 1px);
  }
  .interior h1 {
    margin-top: 50px;
    margin-bottom: 12px;
    font-size: 30px;
  }
  .t-summary {
    margin-bottom: 42px;
    font-size: 18px;
  }
  .interior h2 {
    margin-bottom: 14px;
  }
  .section__anchor {
    margin-top: -60px;
    height: 60px;
  }
  .interior section:not(:last-of-type) {
    margin-bottom: 60px;
  }
  .dockyard {
    background-color: #e85d5d;
    display: block;
    bottom: 0;
    width: 100%;
    line-height: 70px;
    text-align: center;
  }
}

@media (min-width: 900px) {
  .logo svg {
    position: relative;
    left: -5%;
    height: 150px;
    width: 100%;
  }
  main {
    float: right;
    width: calc(100% - 320px);
  }
  .l-wrap {
    margin-right: auto;
    margin-left: auto;
    padding-right: 90px;
    padding-left: 90px;
    clear: both;
  }
  .l-wrap.abouts,
  .l-wrap.purposes {
    max-width: 920px;
  }
  .interior .l-wrap,
  .l-pagination .l-wrap {
    max-width: 740px;
  }
  .header {
    height: 100%;
    width: 320px;
    background-color: #e85d5d;
  }
  .header:after {
    content: "";
    position: fixed;
    top: 0;
    height: 100%;
    width: 320px;
    background-color: inherit;
    z-index: -1;
  }
  .logo {
    margin: 60px 50px 75px;
  }
  .logo img {
    width: 100%;
  }
  .nav-link {
    display: none;
  }
  .nav dt {
    margin-bottom: 5px;
    padding-left: 48px;
    font-size: 26px;
    font-weight: 600;
    color: #ffffff;
  }
  .interior h1 {
    margin-bottom: 18px;
    padding-top: 60px;
    font-size: 60px;
  }
  .t-summary {
    font-size: 26px;
  }
  .t-summary:last-of-type {
    margin-bottom: 84px;
  }
  .interior h2 {
    margin-bottom: 20px;
  }
  .section {
    display: inline-block;
  }
  .section__anchor {
    margin-top: -82px;
    height: 82px;
  }
  .interior section:not(:last-of-type) {
    margin-bottom: 82px;
  }
  .footer {
    position: relative;
    overflow: auto;
    clear: both;
  }
  .l-pagination {
    float: right;
    width: calc(100% - 320px);
  }
  .dockyard {
    position: absolute;
    bottom: 48px;
    left: 75px;
    color: #ffffff;
    fill: currentColor;
  }
}

@media (min-width: 1100px) {
  .column {
    float: left;
    width: calc(50% - 40px)
  }
  .column:nth-of-type(odd) {
    margin-right: 80px;
  }
}
